* {
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area {
    height: 300px;
    border: none;
    color: #0a3871;
    margin-top: 90px;
    padding: 2px;
}

.text-area::placeholder {
    color: #0a3871;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    height: 600px;
    background-color: white;
    background-image: url("./imgs/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje::placeholder {
    color: #0a3871;
    font-size: 0.8em;
    text-align: center;
    padding: 2.5em;
    line-height: 30px;
}

.mensaje:focus {
    outline: none;
}

.consigna {
    color: #495057;
    font-size: 0.5em;
}

.botones {
    display: flex;
    margin-top: 18px;
    padding: 0;
    gap: 24px;
}

.desencriptar-boton {
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    position: relative;
    font-size: 0.6em;
}

.encriptar-boton {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 0.6em;
    margin-left: 30px;
    position: relative;
}

.copiar-boton {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    background-color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 127px;
    margin-top: 520px;
    position: absolute;
    width: 328px;
    font-size: 0.6em;
}

.credits {
    font-size: 0.4em;
    color: #495057;
    margin-left: 14em;
}

.credits-list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.credits-list > il > a > i {
    font-size: 0.7em;
    padding: 0.15em;
}

@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        width: 90%;
        font-size: 28px;
    } 
    
    .contenedor {
        width: 100%;
    }

    .logo {
        padding-top: 0.5em;
        width: 30%;
        margin-left: 0;
    }

    main {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 80px;
    }

    .text-area {
        margin-top: 2em;
        height: 200px;
    }

    .consigna {
        font-size: 0.45em;
    }

    .botones {
        margin-top: 6px;
        gap: 0.5em;
    }

    .encriptar-boton, .desencriptar-boton {
        border-radius: 1.2em;
        height: 40px;
        width: 300em;
        font-size: 0.45em;
        margin-left: 0.1em;
    }

    .copiar-boton {
        border-radius: 1.2em;
        height: 40px;
        width: 10em;
        font-size: 0.4em;
        margin: 33em 6em;
    }

    .mensaje {
        width: 60%;
        margin-top: 1.5em;
        margin-left: -0.5em;
        height: 400px;
        background-size: 70%;
    }

    .mensaje::placeholder {
        font-size: 0.68em;
    }

    .credits-list {
        margin-top: 440px;
        margin-left: 70px;
    }

    .credits {
        font-size: 0.35em;
        margin-left: 6px;
        
    }

    .credits-list > il {
        width: 100%;
    }

    .credits-list > il > a > i {
        font-size: 1em;
        padding: 1px;
        margin-left: 2px;
    }
}